/*Barra de navegação*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&family=Lemon&family=Rammetto+One&display=swap');

body { 
    font-family: Arial, sans-serif;
    background-color: #F5D1D1; 
}
.bloco-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: #CE2A2A;
    border-bottom: 2px solid #000;
    
}
.logo-base {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Rammetto One", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-left: 15px;
}
.itens-base {
    list-style-type: none;
    display: flex;
}
.itens-base li {
    margin-left: 20px;
}
.itens-base li a {
    font-family: "Rammetto One", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
.itens-base li a:hover {
    background-color: #575757;
    border-radius: 10px;
}
/*Rodapé*/

.footer {
    background-color: #CE2A2A;
    color: white;
    padding: 5px 0;
    border-top: 1px  #000 solid;
    display: flex;
}
.footer-base {
    margin:  auto;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer2-base {
    margin: 0 ;
    
}
.footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #b0acac;
}
.logoif-base{
    max-width: 90px;
    max-height: 50px;
    display: flex;
    margin-left: 40px;
    margin-top: 12px;
}
.logo2-base {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 15px;
}

