* {
    margin: 0;
    padding: 0;
}

/*banner*/
.banner-campanhas {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, red, black);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.texto_central-campanhas {
    color: #fdfdfd;
}
.h1_banner1-campanhas {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.h1_banner-campanhas {
    font-size: 36px; 
    margin-bottom: 20px;
}
.spa {
    color: #e62a2a;
}


/*bloco unico*/
.titulo-campanhas {
    color: rgb(0, 0, 0);
    font-size: 50px;
    opacity: 0.7;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);


}
.carrossel1-campanhas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.carrossel2-campanhas {
    display: flex;
    overflow: hidden; 
    width: 100%; 
}
.campanhas {
    flex: 0 0 calc(23% - 20px); 
    text-align: center;
    padding: 10px;
    margin-left: 140px; 
    
    box-sizing: border-box;

}
.img_camp-campanhas img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}
.detalhar {
    background-color: #6A0303;
    color: #ffffff;
    padding: 10px 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}
.detalhe:hover {
    background-color: #5a5555;
}


/*Botões prox e ant */
.botoes1-campanhas{
    margin-left: 30px; 
}
.botoes2-campanhas{
    margin-right: 30px;
    
}
.prox{
    text-decoration: none;
    text-align: center;
    background-color: #6A0303;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}
.prox:hover{
    background-color: #392f2f;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}
.ant{
    text-decoration: none;
    text-align: center;
    background-color: #6A0303;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
   
}
.ant:hover{
    background-color: #392f2f;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}

