@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ledger&family=Lemon&family=Poppins:wght@600&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ledger&family=Lemon&family=Poppins:wght@600;700&family=Rammetto+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

/*banner*/
.banner-campanhas {
    display: flex;
    background-color: #FFF;
    padding: 50px;
    border-bottom: 1px solid #000;
}
.texto_central-campanhas {
    color: #000000;
    margin: 0px;
    line-height: 48px;
}
.h1_banner1-campanhas {
    font-size: 48px;
    font-weight: bold;
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 70px;
    text-align: left;
}
.h3_banner-campanhas {
    font-size: 24px;
    font-family: "Lato";
    font-weight: 300;
    font-style:normal;
    margin-left: 70px;
    line-height: 20px;
}
.spa {
    color: #CE2A2A;
    font-size: 48px;
    font-weight: bold;
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 70px;
    text-align: left;
}


/*bloco unico*/
.titulo-campanhas {
    color: #6A0303;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 70px;
    margin-left: 150px;
}
.carrossel1-campanhas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.carrossel2-campanhas {
    display: flex;
    overflow: hidden; 
    width: 100%; 
}
.campanhas {
    flex: 0 0 calc(23% - 20px); 
    text-align: center;
    padding: 10px;
    margin-left: 140px; 
    
    box-sizing: border-box;

}
.img_camp-campanhas img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}
.detalhar {
    background-color: #6A0303;
    color: #ffffff;
    padding: 10px 60px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}
.detalhe:hover {
    background-color: #5a5555;
}


/*Botões prox e ant */
.botoes1-campanhas{
    margin-left: 30px; 
}
.botoes2-campanhas{
    margin-right: 30px;
    
}
.prox{
    text-decoration: none;
    text-align: center;
    background-color: #6A0303;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}
.prox:hover{
    background-color: #392f2f;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}
.ant{
    text-decoration: none;
    text-align: center;
    background-color: #6A0303;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
   
}
.ant:hover{
    background-color: #392f2f;
    border-radius: 30px;
    color: #FFF;
    padding: 5px 20px;
    
}

