@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ledger&family=Lemon&family=Poppins:wght@600&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ledger&family=Lemon&family=Poppins:wght@600;700&family=Rammetto+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

/*banner*/
.banner-doador {
    display: flex;
    background-color: #FFF;
    padding: 70px;
    
}
.texto_central-doador {
    color: #000000;
    margin: 0px;
    line-height: 48px;
}
.h1_banner1-doador {
    font-size: 65px;
    font-weight: bold;
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 70px;
    text-align: left;
}
.h3_banner-doador {
    font-size: 24px;
    font-family: "Lato";
    font-weight: 300;
    font-style:normal;
    margin-left: 70px;
    line-height: 20px;
}
.spa-doador {
    color: #CE2A2A;
    font-size: 65px;
    font-weight: bold;
    font-family: "Poppins"; 
    font-weight: 900;
    margin-left: 10px;
    text-align: left;
}

/*textos iniciais*/

.texto1-doador{
    text-align: center;
    max-width: 60%;
    margin: 20px auto;
    display: flex;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 900;
    margin-top: 90px;
}
.span1-doador, .span2-doador{
    color: #6A0303;
}
.p1-doador{
    text-align: center;
    max-width: 48%;
    margin: auto;
    display: flex;
    font-size: 26px;
    font-family: "Lato";
    font-weight: 400;
    font-style:normal;
}
.p2-doador{
    text-align: center;
    max-width: 55%;
    margin:  auto;
    display: flex;
    font-size: 26px;
    font-family: "Lato";
    font-weight: 400;
    font-style:normal;
}

/*imagem e texto 1*/

.bloco1-doador {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
    margin: 0px auto;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 0px 80px 80px 80px;
}
.img-doador {
    max-width: 200px; 
    height: auto;
    margin-top: 90px;
    margin-left: 100px;
}
.h1-doador { 
    color: #CE2A2A; 
    background-color: #FFFFFF;
    font-family: "Poppins";
    font-weight: 900;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    margin-top: 100px;

    
    
}
.fundo-doador {
    background-color: #CE2A2A;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.subbloco-doador {
    padding: 20px;
    max-width: 800px;
    width: 100%; 
}
.criterio-doador {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Lato";
    font-weight: 500;
    font-style:normal;
    
}
.img_gota-doador {
    width: 18px;
    height: auto;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    
}

/*texto 2 sem imagem*/


.bloco2-doador {
    display: flex;
   
    padding: 30px 0;
    margin-left: 150px;
}
.subbloco2-doador {
    text-align: center;
    max-width: 1000px;
    
}
.bloco2-doador h1 {
    color: #CE2A2A;
    margin-bottom: 20px;
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 150px;
}
.cards-doador {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.icon-doador {
    font-size: 30px;
    margin-bottom: 10px;
}

.titulo-bloco2-doador {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card1-doador {
    background-color: #CE2A2A;
    color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}
.descricao1-doador {
    font-size: 14px;
    text-align: left;
}

/*imagem2 e texto 3*/

.bloco3-doador {
    display: flex;
    gap: 20px; 
    margin: 40px auto 0px;
    justify-content: center;
    background-color: #FFF;
    padding: 30px;
}
.subbloco3-doador h1 { 
    color: #CE2A2A; 
    margin-bottom: 20px;
    font-family: "Poppins";
    font-weight: 900;
}
.subbloco3-doador {
    padding: 20px 1px 20px 20px; 
    max-width: 800px;
    width: 120%; 
}
.img2-doador {
    max-width: 400px; 
    height: 300px;
    margin-top: 50px;
    background-color: #FFD3D3;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.criterio2-doador {
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Lato";
    font-weight: 500;
    font-style:normal;
}
.img2_gota-doador {
    width: 18px;
    height: 24px; 
    margin-right: 5px;   
}
/*textos p pós blocos*/

.texto-doador2{
    background-color: #6A0303;
    padding-top: 40px;
}
.texto-doador2 h1{
    color: #ffffff;
    text-align: left;
    margin-left: 200px;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 900;
    max-width: 50%;
    
}
.texto-doador2 h3{
    font-size: 16px;
    font-family: "Lato";
    font-weight: 300;
    font-style:normal;
    color: #FFFFFF;
    margin-left: 200px;
   
}
.span2-doador{
    text-decoration: underline;
    color: #FFFFFF;
}
.bloco-doador {   
    align-items: center;
    background-color: #6A0303; /* Cor de fundo semelhante à imagem */
    padding: 40px;
}

/*botão*/

.botao-doador {
    background-color: #FFF;
    color: #6A0303;
    border: none;
    padding: 14px 26px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: 170px;
    margin-top: 30px;
}
.botao-doador:hover {
    background-color: #FFD3D3;
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.botao-doador:active {
    background: #5e0000;
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}