@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ledger&family=Lemon&family=Poppins:wght@600&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ledger&family=Lemon&family=Poppins:wght@600;700&family=Rammetto+One&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #FFD3D3;
}
/* Estilo para o bloco1  */

.bloco1-aviso {
    max-width: 800px;
    margin: 20px auto 0;
    background-color: #f8f8f8;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    font-family: "Lato";
    font-weight: 800;
    font-style:normal;
    margin-bottom: 20px;
}
.titulo1-aviso {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Poppins";
    font-weight: 900;
}
.logo-aviso{
    font-size: 40px;
    font-weight: bold;
    color: #6A0303; 
}
.bloco2-aviso {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
/* Estilo para a bonequinha */

.bonequinha-aviso img {
    max-width: 150px; 
    border-radius: 10px;
    
}

/* Estilo para o texto de aviso */

.aviso-aviso {
    max-width: 700px;
    margin-left: 20px;
    font-family: "Lato";
    font-weight: 400;
    font-style:normal;
}
.aviso-aviso p {
    font-size: 18px;
    color: #000; 
}
.bloco2-aviso .aviso-aviso p span {
    font-size: 20px;
    color: #6A0303; 
    font-family: "Poppins";
    font-weight: 900;
}
.aviso-aviso ul {
    margin-top: 10px;
    padding-left: 20px;
    color: #000;
}
.aviso-aviso li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000000;
}

/* layout responsivo */
@media (max-width: 768px) {
    .bloco2-aviso {
        flex-direction: column; /* Em telas menores, coloca a bonequinha em cima do texto */
        text-align: center;
    } 
    .aviso-aviso {
        margin-left: 0;
        margin-top: 20px;
    }
}

/*Form*/

.titulo2-form{
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
    font-family: "Poppins";
    font-weight: 900;
    background-color: #CE2A2A;
    padding: 0 20px;
    border-radius: 30px;
    width: 50%;
    margin-left: 170px;
}
.error-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.error-message {
    color: #ff4d4d; /* Vermelho para destacar erros */
    font-size: 12px;
    margin-left: 5px;
    text-align: left;
}


.form-form {
    
    background-color: #CE2A2A; /* Vermelho como fundo do formulário */
    border-radius: 15px;
    padding: 0 15px 15px 15px;
    max-width: 800px; /* Limite a largura do formulário */
    margin: auto; /* Centralizar o formulário na página */
    color: rgb(0, 0, 0); /* Cor do texto */
    font-family: "Arial";
}
.nome-usuario label{
    font-size: 16px; /* Tamanho da fonte */
    font-family: "Poppins";
    font-weight: 900;
    
}

.nome-usuario{
    display: flex;
    flex-direction: column; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 15px 15px;
    color: #FFF;
    
}
.nome-usuario-form{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
    padding: 4px 0px;
    align-items: center;
}
.nome-forms{
    display: flex;
    flex-direction: column; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 15px 15px;
    
}
.nome-completo-form{
    display: flex;
    flex-direction: column; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0;    
}
.email-forms{
    display: flex;
    flex-direction: column; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 15px 15px;  
    width:  94%;
    
}
.opcoes-form{
    display: flex;
    flex-direction: column; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px;
    margin: 0 15px 15px;  
}
.tornar-forms{
   
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;

      
}
.sangue-forms{
    display: flex;
    flex-direction: row ; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;
    
}


.fuma-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;
    
}
.sexo-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;
    
}
.doenca-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;
    
}
.opcoes-form .doenca2-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 16px; /* Tamanho da fonte */
    
    width: 96%;
    border-radius: 30px;
    color: #555;
    align-items: center;
    margin-top: 5px;
}

.opcoes-form .doenca2-forms input{ 
    padding: 10px 30px;
}
.disponibilidade-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px;
    align-items: center;
    
}

.opcoes-form .dias-forms{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff;
    border-radius: 30px;
    color: #555;
    padding: 4px 0px 8px;
    align-items: center;   
    
}
.opcoes-form .espaco-forms{
    margin-top: 12px;
}

.opcoes-form .dias-forms label{
    display: flex;
    flex-direction: row; /* Alinhar rótulos e campos verticalmente */
    font-size: 20px; /* Tamanho da fonte */
    background-color: #ffffff; 
    border-radius: 30px;  
    width: 50%;
    margin-right: 10px;
    padding: 0;
}
label {
    align-items: center;
    display: inline-flex;
    margin-left: 12px;
    font-size: 16px;
    
    
    
}
input[type="radio"],[type="checkbox"]{
    margin-right: 10px;   
}
input[type="text"], input[type="email"], select {
    padding: 10px;
    border-radius: 30px;
    border: none; /* Remover bordas padrão */
    
}
.botao-enviar-form, .botao-voltar-form {
    background-color: #6A0303; /* Verde para os botões */
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer; /* Mudar o cursor ao passar o mouse sobre os botões */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
    font-family: "Poppins";
    font-weight: 900;
}
.botao-form{
   margin-left: 20%;
   
}
.botao-enviar-form:hover, .botao-voltar-form:hover {
    background-color: #ffffff; /* Escurecer o botão ao passar o mouse */
    color: #000;
}
.botao-voltar-form {
    margin-left: 200px; /* Espaçamento entre os botões */
}
