{% load static %}

<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemoconnect</title>
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/tela_campanhas.css' %}" rel="stylesheet">
    <link href="{% static 'css/tela_doador.css' %}" rel="stylesheet">
    <link href="{% static 'css/tela_contatos.css' %}" rel="stylesheet">
    <link href="{% static 'css/tela_inicial.css' %}" rel="stylesheet">
    <link href="{% static 'css/tela_perfil.css' %}" rel="stylesheet">
    

    <!--fonte rammeto one-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- BARRA DE NAVEGAÇÃO -->
    <header>
        <nav class="bloco-base">
            <div class="logo-base"><a href="{% url 'tela_criadores' %}">HEM<span>❤️</span>CONNECT</a></div>
            <ul class="itens-base">
                <li><a href="{% url 'tela_inicial' %}">Menu</a></li>
                <li><a href="{% url 'tela_doador' %}">Seja um doador</a></li>
                <li><a href="{% url 'campanhas' %}">Campanhas</a></li>
                <li><a href="{% url 'tela_contatos' %}">Contatos</a></li>
                <li>
                    <a href="{% url 'tela_perfil' %}">
                        <img src="{% if user.foto_perfil %}{{ user.foto_perfil.url }}{% else %}{% static 'image/perfil.png' %}{% endif %}" 
                             alt="Perfil" 
                             style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    {% block parte_central %}

    {% endblock %}

    <footer class="footer">
        <img src="{% static 'image/logo_if.png' %}" alt="Logo do IFRN" class="logoif-base">
        <div class="footer-base">
            <p>&copy; 2024 Hemoconnect. Todos os direitos reservados.</p>
            <p>Desenvolvido por Geraldo Júnior e Alana Keury </p>
        </div>
        <div class="footer2-base">
            <div class="logo2-base">HEM<span>❤️</span>CONNECT</div>
            <p>Orientadora: Mary Holanda</p>
            <p>Coorientador: Kaio Fontes </p>
        </div>
        
    </footer>

    
</body>
</html>