{% load static %}

<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemoconnect</title>
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/campanhas.css' %}" rel="stylesheet">
</head>
<body>
    <!-- BARRA DE NAVEGAÇÃO -->
    <header>
        <nav class="navbar">
            <div class="navbar-brand">HEM<span>❤️</span>CONNECT</div>
            <ul class="navbar-items">
                <li><a href="#">Menu</a></li>
                <li><a href="#">Seja um doador</a></li>
                <li><a href="#">Campanhas</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">a</a></li>

            </ul>
        </nav>
    </header>

    {% block parte_central %}

    {% endblock %}

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Hemoconnect. Todos os direitos reservados.</p>
            <p>Desenvolvido por Geraldo Júnior e Alana Keury </p>
        </div>
    </footer>

    <script src="{% static 'js/teladeta.js' %}"></script> <!-- Inclui o arquivo JS -->

</body>
</html>