{% extends 'hospital/base.html' %}

{% load static %}
{% block parte_central %}
<main>
    <!-- BANNER -->
    <section class="banner-campanhas">
        <div class="texto_central-campanhas">
            <h1 class='h1_banner1-campanhas'>SUA DOAÇÃO É UM ATO DE </h1>
            <h1 class='spa'>AMOR E SOLIDARIEDADE</h1>
            <h3 class='h3_banner-campanhas'>FAÇA PARTE DESSA CORRENTE DE VIDA!</h3>
        </div>
    </section>

    <!-- Navegação para páginas anteriores -->
    <section>
        <nav class="botoes1-campanhas">
            {% if page.has_previous %}
                <a class="ant" href="{% url 'campanhas'%}?page={{ page.previous_page_number }}">⇦</a>
            {% endif %}
        </nav>
    </section>

    <!-- Carrossel de campanhas -->
    <section>
        <h2 class="titulo-campanhas">Campanhas</h2>
        <div class="carrossel1-campanhas">
            <button id="anteriorBtn" class="anterior" onclick="scrollCarousel(-1)">&#10094;</button>
            <div class="carrossel2-campanhas">
                {% for campa in campanhas %}
                    <article class="campanhas">
                        <figure class="img_camp-campanhas">
                            <img src="{{ campa.image.url }}" alt="Imagem da campanha">
                        </figure>
                        <button onclick="Alert.render({{ campa.id }})" class="detalhar">Detalhar</button>
                    </article>
                {% endfor %}
            </div>
            <button class="proximo" onclick="scrollCarousel(1)">&#10095;</button>
        </div>
    </section>

    <!-- Navegação para páginas seguintes -->
    <section>
        <nav class="botoes2-campanhas">
            {% if page.has_next %}
                <a class="prox" href="{% url 'campanhas'%}?page={{ page.next_page_number }}">⇨</a>
            {% endif %}
        </nav>
    </section>

    <!-- Pop-up para detalhamento da campanha -->
    <section>
        <div id="popUpOverlay" class="modal-overlay hidden"></div>
        <div id="popUpBox" class="modal-box hidden">
            <div id="box">
                <button id="closeModal" onclick="Alert.ok()">X</button>
                <div id="tela_detalhe_camp"></div>
            </div>
        </div>
    </section>
</main>

<!-- Inclusão de script JS -->
<script src="{% static 'js/tela_campanhas.js' %}"></script>

{% endblock %}
