{% extends 'hospital/base.html' %}

{% load static %}
{% block parte_central %}

    <div class="banner-campanhas">
        <div class="texto_central-campanhas">
            <h1 class='h1_banner1-campanhas'>SUA DOAÇÃO É UM ATO DE <span class='spa'>AMOR E SOLIDARIEDADE</span></h1>
            <h1 class='h1_banner-campanhas'>FAÇA PARTE DESSA CORRENTE DE VIDA!</p>
        </div>
    </div> 


    <h1 class="titulo-campanhas">Campanhas</h1>
    <div class="carrossel1-campanhas">
        <div class = "botoes1-campanhas">
            {% if page.has_previous%}
                <a class="ant" href="{% url 'campanhas'%}?page={{page.previous_page_number}}">⇦ </a>
            {% endif %}
        </div>
        <div class="carrossel2-campanhas">
            {% for campa in page.object_list %}
            <div class="campanhas">
                <div class="img_camp-campanhas">
                    <img src="{{ campa.image.url }}" alt="Imagem da campanha">
                </div>
                <a href="{% url 'tela_detalhe_camp' campa.id %}">
                    <button type="button" class="detalhar">Detalhar</button>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class = "botoes2-campanhas"> 
            {% if page.has_next %}
                <a class="prox" href="{% url 'campanhas'%}?page={{page.next_page_number}}">⇨ </a>
            {% endif %}
        </div>
    </div>

{% endblock %}