{% load static %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HemoConnect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/telalogin2.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="image-section">
            <img src="{% static 'image/Foto_tela_inicial.png' %}" alt="Heart with blood drop" class="heart-image">
        </div>
        <div class="form-section">
            <div class="form-container">
                <h1 class="logo">HEM<span>❤️</span>CONNECT</h1>
                <form  method="post" class="signup-form">
                    {% csrf_token %} 
                    <div>
                        {{ form.nome }}
                    </div>
                    <div>
                        {{form.senha}}
                    </div>   
                    <button type="submit" class="submit-btn"> Entrar </button>
                </form>
                <p class="login-link">Não possui uma conta? <a href="{% url 'tela_login1' %}">Clique aqui</a>
            </div> 
    </div>
</body>
</html>
