{% load static %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HemoConnect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/tela_login2.css' %}" rel="stylesheet">
</head>
<body>
    <div class="bloco1-login">
        <div class="image-login">
            <img src="{% static 'image/Foto_tela_inicial.png' %}" alt="Coração na mão" class="coracao-login">
        </div>
        <div class="forms-login">
            <div class="form-login">
                <h1 class="logo-login">HEM<span>❤️</span>CONNECT</h1>

                <form  method="post" class="formulario-login">
                    {% csrf_token %} 
                    <p>
                        <label for="id_username"></label>
                        <input type="text" name="username" placeholder="Digite o nome do seu usuario" maxlength="150" placeholder="Informe o nome de seu úsuario" autofocus="" required=""  id="id_username">
                    </p>                  
                    <p>
                        <label for="password1"></label>
                        <input type="password" placeholder="Informe sua senha" name="password1" id="password1" class="form-control" required>
                        {% if messages %}
                            <ul class="error-list">
                                {% for message in messages %}
                                    <li class="error-message">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <button type="submit" class="botao-login"> Entrar </button>
                </form>

                <p class="login-login">Não possui uma conta? <a href="{% url 'tela_login1' %}">Clique aqui</a>
            </div> 
    </div>
</body>
</html>
