{% load static %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HemoConnect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/telaforms.css' %}" rel="stylesheet">
</head>
<body>
        <div class="bloco">
            <div class="titulo1">
                <h1 class="logo">HEMO<span>❤️</span>CONNECT</h1>
            </div>
        
            <div class="conteudo">
                <div class="bonequinha">
                    <img src="{% static 'image/Enfer.png' %}" alt="Mascote">
                </div>
        
                <div class="aviso">
                    <p>ATENÇÃO! Antes de responder o questionário, é importante saber que:</p>
                    <ul>
                        <li>Suas informações serão mantidas em total sigilo.</li>
                        <li>É importante que o formulário seja respondido com informações verdadeiras, pois o hemocentro trabalhará com elas.</li>
                        <li>Mesmo após responder a essas perguntas, é provável que o hospital realize exames adicionais.</li>
                    </ul>
                    <p>Após responder o formulário, entraremos em contato com você o mais breve possível!</p>
                </div>
            </div>
        </div>
    
    
        <form method="post" class="form">
            <div class="titulo2">
                <h1 class="logo2">HEMO<span>❤️</span>CONNECT</h1>
            </div>
            {% csrf_token %}
            <div class="quer1"> 
                <div class= "quer">
                    <label>Deseja tornar-se um doador?</label>
                    {{ forms.querer }}
                </div>
            </div>

            
            <div class= "nome">
                <label>Digite seu nome completo</label>
                {{ forms.nome }}
            </div>
            


            
            <div class= "email">
                <label>Digite seu email</label>
                {{ forms.email }}
            </div>

            <div class="quer1">
                <div class= "sangue">
                    <label>Seu tipo sanguíneo?</label>
                {{ forms.tipo_sangue }}
                 </div>
            </div>

            <div class="quer1">
                <div class= "fuma">
                    <label>Você fuma?</label>
                    {{ forms.fuma }}
                </div>
            </div>

            <div class="quer1">
                <div class= "sexo">
                    <label>Sua vida sexual ativa?</label>
                    {{ forms.sexo }}
                </div>
            </div>

            <div class="quer1">
                <div class= "doenca">
                    <label>Tem alguma doença crônica</label>
                    {{ forms.doenca }}
                </div>
            </div>
            
            <div class= "doenca2">
                <label>Se sim, qual?</label>
                {{ forms.doenca_det }}
            </div>

            <div class="quer1">
                <div class= "dispo">
                    <label>Você possui disponibilidade para vir ao hemocentro?</label>
                    {{ forms.disponibilidade }}
                </div>
            </div>

            <div class="quer1">
                <div class= "dias">
                    <label>Se sim, quais dias?</label>
                    {{ forms.dias }}
                </div>
            </div>
            <div class="botao">
                <button type="submit" class="submit-btn">Enviar</button>
                <a href="{% url 'tela_inicial' %}" class="back-btn">Voltar</a>
            </div>
        </form>
        
    
</body>
</html>
