{% load static %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HemoConnect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/tela_formulario.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <section>
        <div class="bloco1-aviso">
            <div class="titulo1-aviso">
                <h1 class="logo-aviso">HEMO<span>❤️</span>CONNECT</h1>
            </div>
        
            <div class="bloco2-aviso">
                <div class="bonequinha-aviso">
                    <img src="{% static 'image/Enfer.png' %}" alt="Mascote">
                </div>
        
                <div class="aviso-aviso">
                    <p><span>ATENÇÃO!</span> Antes de responder o questionário, é importante saber que:</p>
                    <ul>
                        <li>Suas informações serão mantidas em total sigilo.</li>
                        <li>É importante que o formulário seja respondido com informações verdadeiras, pois o hemocentro trabalhará com elas.</li>
                        <li>Mesmo após responder a essas perguntas, é provável que o hospital realize exames adicionais.</li>
                    </ul>
                    <p>Após responder o formulário, entraremos em contato com você o mais breve possível!</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <form method="post" class="form-form">
            <div class="titulo2-form">
                <h1> HEM<span>❤️</span>CONNECT</h1>
            </div>
            {% csrf_token %}
            <div class='nome-usuario'>
                <label>Nome do úsuario</label>
                <input type="text" name="nome" class='nome-usuario-form' value="{{ user.username }}" readonly>
            </div>            
                        
            <div class= "nome-completo-form">
                {{ form.nome }}
            </div>
            
            <div class= "nome-completo-form">
                {{ form.idade }}
            </div>
                        
            <div>
                {{ form.email }}
            </div>

            <div class="opcoes-form"> 
                <div class= "tornar-forms">
                    <label>Deseja tornar-se um doador?</label>
                    {{ form.querer }}
                </div>
            </div>

            <div class="opcoes-form">
                <div class= "sangue-forms">
                    <label>Seu tipo sanguíneo?</label>
                    {{ form.tipo_sangue }}
                </div>
            </div>

            <div class="opcoes-form">
                <div class= "fuma-forms">
                    <label>Você fuma?</label>
                    {{ form.fuma }}
                </div>
            </div>

            <div class="opcoes-form">
                <div class= "sexo-forms">
                    <label>Sua vida sexual ativa?</label>
                    {{ form.sexo }}
                </div>
            </div>

            <div class="opcoes-form">
                <div class="doenca-forms">
                    <label>Tem alguma doença crônica?</label>
                    {{ form.doenca }}
                </div>
                <div class="doenca2-forms" style="display: none;" id="campo-doenca">
                    {{ form.doenca_det }}
                </div>
            </div>

            <div class="opcoes-form">
                <div class="disponibilidade-forms">
                    <label>Você possui disponibilidade para vir ao hemocentro?</label>
                    {{ form.disponibilidade }}
                </div>
                <div class='espaco-forms'>
                    <div class="dias-forms" id="campo-dias" style="display: none;">
                        <label>Quais dias?</label>
                        {{ form.dias }}
                    </div>
                </div>
            </div>

            <div class="botao-form">
                <button type="submit" class="botao-enviar-form">Enviar</button>
                <a href="{% url 'tela_doador' %}" class="botao-voltar-form">Voltar</a>
                
            </div>
        </form>
    </section>
</main>
    <!--Código JS-->
    <script src="{% static 'js/tela_formulario.js' %}"></script>
    
</body>
</html>
