{% extends 'hospital/base.html' %}

{% load static %}
{% block parte_central %}
    <h1 class="titulo-cont">Contatos</h1>
    <h2 class="titulo2-cont">Como  você prefere falar com a gente?</h2>
    
    <div>
    <img src="{% static 'image/Email.png' %}" alt="Heart with blood drop" class="img-cont">


    <img src="{% static 'image/telefone.png' %}" alt="Heart with blood drop" class="img-cont">

    <img src="{% static 'image/chat.png' %}" alt="Heart with blood drop" class="img-cont">





    <h1 class="titulo-cont">Localização</h1>
{% endblock %}