{% extends 'hospital/base.html' %}
{% load static %}
{% block parte_central %}

<div class="carousel-container">
    <div class="carousel-slide" id="carousel-slide">
        <img src="{% static 'image/relogio.png' %}" alt="Imagem 1" class="carousel-image">
        <img src="{% static 'image/relogio.png' %}" alt="Imagem 2" class="carousel-image">
        <img src="{% static 'image/relogio.png' %}" alt="Imagem 3" class="carousel-image">
        <h1> oiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii </h1>
    </div>
    
    <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
</div>



<script src="{% static 'js/tela_inicial.js' %}"></script>

{% endblock %}