{% load static %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HemoConnect</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="{% static 'image/icon.png' %}" type="image/x-icon">
    <link href="{% static 'css/tela_login1.css' %}" rel="stylesheet">
</head>
<body>
    <div class="bloco1-login">
        <div class="image-login">
            <img src="{% static 'image/Foto_tela_inicial.png' %}" alt="Coração na mão" class="coracao-login">
        </div>
        <div class="forms-login">
            <div class="form-login">
                <h1 class="logo-login">HEM<span>❤️</span>CONNECT</h1>
                
                <form method="post" class="formulario-login">
                    {% csrf_token %}
                    <p>
                        <label for="id_username"></label>
                        <input class='espaco' type="text" name="username" placeholder="Digite um nome para seu usuário, sem espaços" 
                               maxlength="150" autofocus required id="id_username" 
                               value="{{ form.username.value|default_if_none:'' }}">
                        {% if form.username.errors %}
                            <ul class="error-list">
                                {% for error in form.username.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>             
                    <p>
                        <label for="id_nome_completo"></label>
                        <input class='espaco' type="text" name="nome_completo" placeholder="Digite seu nome completo" maxlength="200" 
                               id="id_nome_completo" value="{{ form.nome_completo.value|default_if_none:'' }}">                       
                        {% if form.nome_completo.errors %}
                            <ul class="error-list">
                                {% for error in form.nome_completo.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="id_cpf"></label>
                        <input class='espaco' type="text" name="cpf" placeholder="Digite seu CPF" maxlength="14" required id="id_cpf" 
                               value="{{ form.cpf.value|default_if_none:'' }}" oninput="formatCPF(this)">
                        {% if form.cpf.errors %}
                            <ul class="error-list">
                                {% for error in form.cpf.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="id_endereco"></label>
                        <input  class='espaco' type="text" name="endereco" placeholder="Informe sua cidade" maxlength="255" 
                               id="id_endereco" value="{{ form.endereco.value|default_if_none:'' }}">
                        {% if form.endereco.errors %}
                            <ul class="error-list">
                                {% for error in form.endereco.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="id_email"></label>
                        <input class='espaco' type="email" name="email" placeholder="Informe seu E-mail" maxlength="254" 
                               id="id_email" value="{{ form.email.value|default_if_none:'' }}">
                        <span class="error-message-email"></span>
                        {% if form.email.errors %}
                            <ul class="error-list">
                                {% for error in form.email.errors %}
                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="id_password1"></label>
                        <input class='espaco' type="password" name="password1" placeholder="Crie uma senha" autocomplete="new-password" 
                               aria-describedby="id_password1_helptext" id="id_password1">
                        <span class="helptext" id="id_password1_helptext"></span>
                        
                    </p>
                    <p>
                        <label for="id_password2"></label>
                        <input class='espaco' type="password" name="password2" placeholder="Confirme sua senha" autocomplete="new-password" 
                               aria-describedby="id_password2_helptext" id="id_password2">
                        {% if form.password2.errors %}
                            <ul class="error-list">
                                {% for error in form.password2.errors %}

                                    <li class="error-message">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </p>
                    <button type="submit" class="botao-login">Cadastrar-se</button>
                </form>
                
                
                <p class="login-login">Já possui uma conta? <a href="{% url 'tela_login2' %}">Entrar</a></p>
                <p class="login2-login"><a href="{% url 'tela_inicial' %}">Continuar como visitante</a></p>
            </div>
        </div>
    </div>

    <!--Código JS-->
    <script src="{% static 'js/tela_login1.js' %}"></script>
    
</body>
</html>
